#container {
    width: 50%;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

#toServer {
    display: block;
    font-size: xx-large;
}